# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [21]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
print(df_test)
df_train.shape

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male   NaN      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female   NaN      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male   NaN      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female   NaN      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female   NaN      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male   NaN      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male   NaN      0      0              359309    8.0500
417    male   NaN      1      1                2668   22.3583

               Cabin Embarked
0                NaN        Q
1                NaN        S
2                NaN        Q
3                NaN        S
4                NaN        S
5                NaN        S
6                NaN        Q
7                NaN        S
8                NaN        C
9                NaN        S
10               NaN        S
11               NaN        S
12               B45        S
13               NaN        S
14               E31        S
15               NaN        C
16               NaN        Q
17               NaN        C
18               NaN        S
19               NaN        C
20               NaN        C
21               NaN        S
22               NaN        S
23               NaN        C
24   B57 B59 B63 B66        C
25               NaN        S
26               B36        C
27               NaN        C
28               A21        S
29               NaN        C
..               ...      ...
388              NaN        Q
389              NaN        S
390              B24        S
391              D28        S
392              NaN        S
393              NaN        S
394              NaN        S
395              C31        S
396              NaN        Q
397              B41        C
398              NaN        S
399              NaN        Q
400               C7        S
401              NaN        S
402              NaN        C
403              NaN        S
404              D40        C
405              D38        C
406              NaN        S
407              C80        C
408              NaN        Q
409              NaN        S
410              NaN        Q
411              C78        Q
412              NaN        S
413              NaN        S
414             C105        C
415              NaN        S
416              NaN        S
417              NaN        C

[418 rows x 11 columns]

(891, 12)

In [22]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
print(df)
df.head()

     Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
5         3                                   Moran, Mr. James    male   NaN
6         1                            McCarthy, Mr. Timothy J    male  54.0
7         3                     Palsson, Master. Gosta Leonard    male   2.0
8         3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9         2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10        3                    Sandstrom, Miss. Marguerite Rut  female   4.0
11        1                           Bonnell, Miss. Elizabeth  female  58.0
12        3                     Saundercock, Mr. William Henry    male  20.0
13        3                        Andersson, Mr. Anders Johan    male  39.0
14        3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15        2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16        3                               Rice, Master. Eugene    male   2.0
17        2                       Williams, Mr. Charles Eugene    male   NaN
18        3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19        3                            Masselmani, Mrs. Fatima  female   NaN
20        2                               Fynney, Mr. Joseph J    male  35.0
21        2                              Beesley, Mr. Lawrence    male  34.0
22        3                        McGowan, Miss. Anna "Annie"  female  15.0
23        1                       Sloper, Mr. William Thompson    male  28.0
24        3                      Palsson, Miss. Torborg Danira  female   8.0
25        3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
26        3                            Emir, Mr. Farred Chehab    male   NaN
27        1                     Fortune, Mr. Charles Alexander    male  19.0
28        3                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN
29        3                                Todoroff, Mr. Lalio    male   NaN
..      ...                                                ...     ...   ...
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
408       3                    Riordan, Miss. Johanna Hannah""  female   NaN
409       3                          Peacock, Miss. Treasteall  female   3.0
410       3                             Naughton, Miss. Hannah  female   NaN
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
413       3                                 Spector, Mr. Woolf    male   NaN
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5
416       3                                Ware, Mr. Frederick    male   NaN
417       3                           Peter, Master. Michael J    male   NaN

     SibSp  Parch              Ticket      Fare        Cabin Embarked
0        1      0           A/5 21171    7.2500          NaN        S
1        1      0            PC 17599   71.2833          C85        C
2        0      0    STON/O2. 3101282    7.9250          NaN        S
3        1      0              113803   53.1000         C123        S
4        0      0              373450    8.0500          NaN        S
5        0      0              330877    8.4583          NaN        Q
6        0      0               17463   51.8625          E46        S
7        3      1              349909   21.0750          NaN        S
8        0      2              347742   11.1333          NaN        S
9        1      0              237736   30.0708          NaN        C
10       1      1             PP 9549   16.7000           G6        S
11       0      0              113783   26.5500         C103        S
12       0      0           A/5. 2151    8.0500          NaN        S
13       1      5              347082   31.2750          NaN        S
14       0      0              350406    7.8542          NaN        S
15       0      0              248706   16.0000          NaN        S
16       4      1              382652   29.1250          NaN        Q
17       0      0              244373   13.0000          NaN        S
18       1      0              345763   18.0000          NaN        S
19       0      0                2649    7.2250          NaN        C
20       0      0              239865   26.0000          NaN        S
21       0      0              248698   13.0000          D56        S
22       0      0              330923    8.0292          NaN        Q
23       0      0              113788   35.5000           A6        S
24       3      1              349909   21.0750          NaN        S
25       1      5              347077   31.3875          NaN        S
26       0      0                2631    7.2250          NaN        C
27       3      2               19950  263.0000  C23 C25 C27        S
28       0      0              330959    7.8792          NaN        Q
29       0      0              349216    7.8958          NaN        S
..     ...    ...                 ...       ...          ...      ...
388      0      0              364858    7.7500          NaN        Q
389      3      1              349909   21.0750          NaN        S
390      0      0               12749   93.5000          B24        S
391      0      1            PC 17592   39.4000          D28        S
392      0      2           C.A. 2673   20.2500          NaN        S
393      0      0          C.A. 30769   10.5000          NaN        S
394      3      1              315153   22.0250          NaN        S
395      1      0               13695   60.0000          C31        S
396      0      0              371109    7.2500          NaN        Q
397      1      1               13567   79.2000          B41        C
398      0      0              347065    7.7750          NaN        S
399      0      0               21332    7.7333          NaN        Q
400      0      0               36928  164.8667           C7        S
401      1      0               28664   21.0000          NaN        S
402      0      1              112378   59.4000          NaN        C
403      0      0              113059   47.1000          NaN        S
404      1      0               17765   27.7208          D40        C
405      0      0       SC/PARIS 2166   13.8625          D38        C
406      1      0               28666   10.5000          NaN        S
407      1      1              113503  211.5000          C80        C
408      0      0              334915    7.7208          NaN        Q
409      1      1  SOTON/O.Q. 3101315   13.7750          NaN        S
410      0      0              365237    7.7500          NaN        Q
411      1      0               19928   90.0000          C78        Q
412      0      0              347086    7.7750          NaN        S
413      0      0           A.5. 3236    8.0500          NaN        S
414      0      0            PC 17758  108.9000         C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500          NaN        S
416      0      0              359309    8.0500          NaN        S
417      1      1                2668   22.3583          NaN        C

[1309 rows x 10 columns]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [24]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [25]:
# 例 : 整數 (int) 特徵取平均 (mean)
#int
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [26]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""
#int
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [27]:
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [28]:

#float
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [29]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [30]:
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [31]:

#object
df[object_features].mean()

Series([], dtype: float64)

In [32]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [33]:
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64